.main-footer__wrapper {
  background-color: #ffffff;
  text-align: center;
}

.main-footer__hashtag-link {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  text-decoration: none;
  padding: 28px 78px 0 76px;
  margin-bottom: 33px;
  display: block;
}

.main-footer__social {
  padding: 0 80px 0 84px;
  margin-bottom: 40px;
}

.main-footer__copyright {
  padding: 0 96px 23px 55px;
}

@media (min-width: @tablet-width) {
  .main-footer__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .main-footer__hashtag-link {
    margin: 0;
    padding: 48px 97px 45px 45px;
  }

  .main-footer__social {
    padding: 36px 0;
    margin: 0;
  }

  .main-footer__copyright {
    padding: 43px 60px 43px 100px;
  }
}

@media (min-width: @desktop-width) {
  .main-footer__hashtag-link {
    padding: 48px 254px 45px 104px;
  }

  .main-footer__copyright {
    padding: 43px 120px 43px 256px;
  }
}
