.main-header {
background-color: #81b3d2;
}

.main-header__wrapper {
  height: 56px;
  background-color: #ffffff;
  position: relative;
}

.main-header__menu-open {
  position: absolute;
  top: 13px;
  right: 17px;
  border: none;
  background-color: #ffffff;
}

