.main-footer__wrapper {
  background-color: #ffffff;
  text-align: center;
}

.main-footer__hashtag-link {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  text-decoration: none;
  padding: 29px 78px 34px 76px;
  display: block;
}

.main-footer__social {
  padding: 0 74px 0 84px;
}

.main-footer__copyright {
  padding: 35px 77px 29px 80px;
}

@media (min-width: @tablet-width) {
  .main-footer__wrapper {
    display: flex;
    justify-content: flex-start;
  }

  .main-footer__hashtag-link {
    margin: 0;
    padding: 48px 109px 45px 60px;
  }

  .main-footer__social {
    padding: 36px 0;
    margin: 0;
  }

  .main-footer__copyright {
    padding: 45px 58px 43px 113px;
  }
}

@media (min-width: @desktop-width) {
  .main-footer__hashtag-link {
    padding: 50px 270px 45px 117px;
  }

  .main-footer__copyright {
    padding: 47px 118px 43px 260px;
  }

  .main-footer__social {
    padding: 38px 0;
    padding-right: 5px;
  }
}
