.main-container__promo {
  background-image: url("../img/index/index-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #3f3f3f;
  min-height: 389px;
}

.main-container__promo-logo {
  padding-top: 90px;
}
