@media (max-width: @mobile-width-only) {
  .main-container__promo {
    position: relative;
    background-image: url("/img/index/index-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #3f3f3f;
    min-height: 389px;
  }

  @media (min-resolution: 2dppx) {
    .main-container__promo {
      background-image: url("/img/index/index-background@2x.jpg");
      background-repeat: no-repeat;
    }
  }

  .main-container__promo-logo {
    padding-top: 90px;
  }
}

@media (min-width: @tablet-width) {
  .main-container__promo {
    background-image: url("/img/img-tablet/index-background-tablet.jpg");
    min-height: 518px;
  }

  @media (min-resolution: 2dppx) {
    background-image: url("/img/img-tablet/index-background-tablet@2x.jpg");
    background-repeat: no-repeat;
  }

  .main-container__promo-logo {
    width: 60%;
    min-height: 350px;
    padding-top: 77px;
  }
}

@media (min-width: @desktop-width) {
  .main-container__promo {
    background-image: url("/img/img-desktop/index-background-desktop.jpg");
  }

  @media (min-resolution: 2dppx) {
    background-image: url("/img/img-desktop/index-background-desktop@2x.jpg");
  }

  .main-container__promo-logo {
    width: 38%;
    padding-top: 78px;
  }
}
