.modal-form {
  font-family: "PT Sans", sans-serif;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal-form--block {
  display: none;
}

.modal-form__container-luck {
  width: 320px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
}

.modal-form__wrapper-luck {
  padding: 39px 39px 30px 37px;
}

.modal-form__title-luck {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 46px;
}

.modal-form__description-luck {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0;
}

.modal-form__button-luck {
  font-family: "PT Sans", sans-serif;
  width: 280px;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  padding: 18px 62px 14px 60px;
  background-color: #81b3d2;
  text-transform: uppercase;
  margin: 0;
  border: none;
}

.modal-form__wrapper-background {
  background-color: #f2f2f2;
  padding: 20px;
}

.modal-form--none {
  display: none;
}

.modal-form__container-failure {
  width: 320px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
}

.modal-form__wrapper-failure {
  padding: 45px 42px 28px 41px;
}

.modal-form__title-failure {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 25px;
}

.modal-form__description-failure {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0;
}

.modal-form__button {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  padding: 18px 64px 14px 63px;
  background-color: #81b3d2;
  text-transform: uppercase;
  margin-bottom: 35px;
  border: none;
}
