.page-main__promo-logo {
  padding-top: 52px;
}

.page-main__header {
  font-family: "PT Sans", sans-serif;
  background-color: #ffffff;
}

.page-main__wrapper-catalog {
  padding: 33px 20px 20px;
}

.page-main__wrapper-form {
  padding: 36px 20px 28px;
}

.page-main__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  margin: 0;
  margin-bottom: 46px;
}

.page-main__title-form {
  margin-bottom: 24px;
  text-transform: uppercase;
}

.page-main__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;
  margin: 0;
}

.page-main__photo {
  font-family: "PT Sans", sans-serif;
  background-color: #ffffff;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.page-main__video-gallery {
  font-family: "PT Sans", sans-serif;
}

@media (max-width: @mobile-width-only) {
  .page-main__promo {
    background-image: url("../img/catalog/background-catalog.jpg");
    width: 100%;
    min-height: 214px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../img/catalog/background-catalog@2x.jpg");
  }
}

@media (min-width: @tablet-width) {
  .page-main__container {
    width: 84%;
    margin: 0 auto;
  }

  .page-main__container-form {
    width: 84%;
    margin: 0 auto;
  }

  .page-main__wrapper-catalog {
    width: 71%;
    margin: 0 auto;
    padding: 66px 0 67px 0;
  }

  .page-main__wrapper-form {
    padding: 64px 106px 102px 107px;
  }

  .page-main__title {
    margin-bottom: 26px;
  }

  .page-main__promo {
    background-image: url("../img/img-tablet/background-catalog-tablet.jpg");
    width: 100%;
    min-height: 346px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .page-main__promo-logo {
    width: 59%;
    padding-top: 95px;
    min-height: 77px;
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../img/img-tablet/background-catalog-tablet@2x.jpg");
  }
}


@media (min-width: @desktop-width) {
  .page-main__container {
    width: 100%;
  }

  .page-main__container-form {
    width: 80%;
    margin: 0 auto;
  }

  .page-main__wrapper-catalog {
    width: 38%;
    margin: 0 auto;
    padding: 100px 0 65px 0;
  }

  .page-main__wrapper-form {
    padding: 115px 262px 67px 264px;
  }

  .page-main__title {
    margin-bottom: 32px;
  }

  .page-main__promo {
    background-image: url("../img/img-desktop/background-catalog-desktop.jpg");
    width: 100%;
    min-height: 357px;
  }

  .page-main__promo-logo {
    width: 38%;
    padding-top: 101px;
    min-height: 80px;
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../img/img-desktop/background-catalog-desktop@2x.jpg");
  }
}
