.search {
  font-family: "PT Sans", sans-serif;
  text-align: center;
  background-color: #ffffff;
}

.search__wrapper {
  padding: 38px 29px 32px 30px;
}

.search__title {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  margin: 0;
}

.search__hotels-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;
  margin: 0;
  margin-top: 21px;
}

.search__link {
  font-weight: 700;
  color: #ffffff;
  font-size: 21px;
  line-height: 26px;
  text-decoration: none;
  background-color: #81b3d2;
  padding: 16px 49px;
  display: block;
  margin: 0 18px 49px;
}

@media (min-width: @tablet-width) {
  .search__wrapper {
    padding: 61px 166px 41px 167px;
  }

  .search__hotels-description {
    margin-bottom: 33px;
  }

  .search__link {
    padding: 14px 121px 17px;
    margin: 0 155px 58px;
  }
}

@media (min-width: @desktop-width) {
  .search__wrapper {
    padding: 61px 382px 46px 383px;
  }

  .search__hotels-description {
    margin-bottom: 32px;
  }

  .search__link {
    margin: 0 371px 66px;
  }
}
