.site-list {
  margin: 0;
  padding: 0;
}

.site-list__item {
  list-style-type: none;
  padding: 17px 78px 12px 77px;
}

.site-list__link {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .site-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .site-list__item--multimedia {
    margin-right: 155px;
  }

  .site-list__item {
    width: 153px;
    padding: 18px 0 17px 0;
  }

  .site-list__link {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
  }
}

@media (min-width: @desktop-width) {
  .site-list {
    display: flex;
    flex-direction: row;
  }

  .site-list__item {
    width: 240px;
    padding: 18px 0 17px 0;
  }
}
