.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
@media (max-width: 767px) {
  .desktop-hidden {
    display: none;
  }
  .tablet-hidden {
    display: none;
  }
}
@media (min-width: 768px) {
  .phone-hidden {
    display: none;
  }
  .desktop-hidden {
    display: none;
  }
}
@media (min-width: 1200px) {
  .phone-hidden {
    display: none;
  }
  .tablet-hidden {
    display: none;
  }
}
@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
}
@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woof");
}
.page {
  font-family: "PT Sans", sans-serif;
  height: 100%;
  font-size: 16px;
  line-height: 26px;
}
.page__body {
  min-height: 100%;
  margin: 0;
  color: #000000;
  background-color: #f2f2f2;
  text-align: center;
}
.page__container {
  max-width: 320px;
  width: 100%;
  padding: 0;
  margin: 0 auto;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .page__container {
    max-width: 768px;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .page__container {
    max-width: 1200px;
    width: 100%;
    box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
  }
}
.main-header {
  display: flex;
  flex-direction: column;
  background-color: #81b3d2;
}
@media (min-width: 768px) {
  .main-header {
    background-color: #ffffff;
  }
}
.site-list {
  margin: 0;
  padding: 0;
}
.site-list__item {
  list-style-type: none;
  box-shadow: 0 1px rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
}
.site-list__link {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}
@media (max-width: 767px) {
  .site-list__link {
    padding: 17px 78px 12px 77px;
    display: block;
  }
  .site-list__link:hover {
    background-color: #669ec0;
  }
  .site-list__link:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
  }
}
@media (min-width: 768px) {
  .site-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  .site-list__item {
    width: 20%;
    padding: 18px 0 17px 0;
    box-shadow: none;
  }
  .site-list__item--form {
    margin-left: auto;
  }
  .site-list__link {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
  }
  .site-list__link:hover {
    color: #81b3d2;
  }
  .site-list__link:active {
    color: #000000;
    opacity: 0.3;
  }
  .site-list__link--active {
    color: #766357;
  }
}
@media (min-width: 1200px) {
  .site-list {
    display: flex;
    flex-direction: row;
  }
}
.main-container__promo {
  background-color: #3f5e72;
}
@media (max-width: 767px) {
  .main-container__promo {
    position: relative;
    background-image: url("../img/img-phone/index-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #3f3f3f;
    min-height: 389px;
  }
  .main-container__promo-logo {
    padding-top: 90px;
  }
  .main-container__promo::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 57px;
    background-image: url("../img/vector.svg");
    bottom: 0;
    left: 0;
  }
}
@media (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 767px) and (min-resolution: 2dppx) {
  .main-container__promo {
    background-image: url("../img/img-phone/index-background@2x.jpg");
    background-repeat: no-repeat;
  }
}
@media (min-width: 768px) {
  .main-container__promo-logo {
    width: 60%;
    min-height: 350px;
    padding-top: 77px;
  }
  .main-container__promo {
    position: relative;
    background-image: url("../img/img-tablet/index-background-tablet.jpg");
    min-height: 518px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .main-container__promo::after {
    content: "";
    position: absolute;
    background-image: url("../img/vector-tablet.svg");
    width: 100%;
    height: 57px;
    bottom: 0;
    left: 0;
  }
}
@media (min-width: 1200px) {
  .main-container__promo-logo {
    width: 38%;
    padding-top: 78px;
  }
  .main-container__promo {
    position: relative;
    min-height: 518px;
    background-image: url("../img/img-desktop/index-background-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .main-container__promo::after {
    position: absolute;
    content: "";
    background-image: url("../img/vecrot-desktop.svg");
  }
}
@media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1200px) and (min-resolution: 2dppx) {
  .main-container__promo {
    background-image: url("../img/img-desktop/index-background-desktop@2x.jpg");
    background-repeat: no-repeat;
  }
}
.reasons__wrapper {
  font-family: "PT Sans", sans-serif;
  text-align: center;
  background: #ffffff;
}
.reasons__slogan {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  margin: 0;
  text-transform: uppercase;
  margin-bottom: 37px;
}
.reasons__intro {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;
  margin: 0;
}
.reasons__list {
  font-family: "PT Sans", sans-serif;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  position: relative;
}
.reasons__city {
  background-color: #81b3d2;
  padding: 51px 27px 43px 16px;
}
.reasons__background {
  background-color: #81b3d2;
  padding: 39px 16px 35px 15px;
}
.reasons__title {
  font-weight: 700px;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  margin: 0;
  margin-bottom: 11px;
}
.reasons__number {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  margin: 0;
}
.reasons__number--colour {
  color: #ffffff;
}
.reasons__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  margin: 0;
  margin-top: 17px;
}
.reasons__title--advantages {
  margin: 0;
  margin-bottom: 16px;
  text-align: left;
  padding-left: 47px;
}
.reasons__description--advantages {
  margin: 0;
  margin-bottom: 30px;
  text-align: left;
  padding-left: 47px;
}
@media (max-width: 767px) {
  .reasons__header {
    margin: 0;
    padding: 33px 30px 31px 30px;
  }
  .reasons__block {
    line-height: 0;
  }
  .reasons__landscapes {
    line-height: 0;
  }
  .reasons__item::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 37px;
    background-image: url("../img/white-vector.svg");
    background-repeat: no-repeat;
    top: -15px;
    left: 0;
  }
  .reasons__advantages {
    position: relative;
    background-color: #ffffff;
    font-family: "PT Sans", sans-serif;
    list-style-type: none;
    padding: 23px 18px 22px;
  }
  .reasons__item--housing {
    padding-top: 8px;
  }
  .reasons__item--housing::before {
    position: absolute;
    content: "";
    background-image: url("../img/housing.svg");
    width: 40px;
    height: 40px;
    top: 22px;
    left: 18px;
  }
  .reasons__item--food::before {
    position: absolute;
    content: "";
    background-image: url("../img/food.svg");
    width: 40px;
    height: 40px;
    top: 155px;
    left: 18px;
  }
  .reasons__item--gift::before {
    position: absolute;
    content: "";
    background-image: url("../img/souvenir.svg");
    width: 40px;
    height: 40px;
    top: 270px;
    left: 18px;
  }
  .reasons__item--square {
    padding: 26px 26px 24px;
    background-color: #eeeeee;
  }
  .reasons__item--road {
    padding: 24px 23px;
    background-color: #eeeeee;
  }
  .reasons__item--tourist {
    padding: 26px 18px 24px;
    background-color: #eeeeee;
  }
  .reasons__item--square::after {
    position: absolute;
    content: "";
    width: 89%;
    border: 1px solid #d6d6d6;
    left: 15px;
    bottom: 330px;
  }
  .reasons__item--road::after {
    position: absolute;
    content: "";
    width: 89%;
    border: 1px solid #d6d6d6;
    left: 15px;
    bottom: 162px;
  }
  .reasons__title--colour {
    color: #ffffff;
  }
  .reasons__description--colour {
    color: #ffffff;
  }
  .reasons__item--food .reasons__title--advantages {
    padding-left: 52px;
  }
  .reasons__item--food .reasons__description--advantages {
    padding-left: 52px;
  }
}
@media (min-width: 768px) {
  .reasons__header {
    padding: 47px 124px 56px;
  }
  .reasons__slogan {
    font-size: 21px;
    line-height: 26px;
    margin-bottom: 30px;
  }
  .reasons__list {
    display: flex;
    flex-wrap: wrap;
  }
  .reasons__block {
    display: flex;
    line-height: 0;
  }
  .reasons__pictures {
    width: 100%;
  }
  .reasons__title {
    margin-bottom: 11px;
    font-size: 21px;
    line-height: 26px;
  }
  .reasons__title--colour {
    color: #ffffff;
    margin-bottom: 13px;
  }
  .reasons__description {
    margin: 0;
    margin-top: 20px;
    font-size: 14px;
    line-height: 21px;
  }
  .reasons__description--colour {
    margin-top: 23px;
    color: #ffffff;
  }
  .reasons__city {
    width: 25%;
    padding: 40px 32px 44px;
  }
  .reasons__item--bridge {
    width: 100%;
    line-height: 0;
  }
  .reasons__landscapes {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .reasons__bonus {
    display: flex;
    width: 100%;
    background-color: #eeeeee;
  }
  .reasons__background {
    width: 24%;
    padding: 43px 36px 41px;
  }
  .reasons__item--square {
    width: 33.3%;
    padding: 42px 34px 63px 33px;
  }
  .reasons__item--road {
    width: 33.3%;
    padding: 42px 48px 41px 46px;
  }
  .reasons__item--tourist {
    width: 33.3%;
    padding: 42px 40px 42px 33px;
  }
  .reasons__transfer {
    display: block;
  }
  .reasons__advantages {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    padding: 0;
    list-style-type: none;
  }
  .reasons__item--housing {
    position: relative;
    padding: 138px 35px 59px 36px;
  }
  .reasons__item--housing::before {
    position: absolute;
    content: "";
    background-image: url("../img/housing.svg");
    width: 75px;
    height: 72px;
    top: 51px;
    left: 92px;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .reasons__item--food {
    position: relative;
    padding: 139px 38px 59px 38px;
  }
  .reasons__item--food::before {
    position: absolute;
    content: "";
    background-image: url("../img/food.svg");
    width: 76px;
    height: 68px;
    left: 92px;
    top: 53px;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .reasons__item--gift {
    position: relative;
    padding: 138px 31px 81px 32px;
  }
  .reasons__item--gift::before {
    position: absolute;
    content: "";
    background-image: url("../img/souvenir.svg");
    width: 64px;
    height: 75px;
    left: 92px;
    top: 52px;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .reasons__title--advantages {
    text-align: center;
    padding: 0;
    margin: 0;
    margin-bottom: 23px;
  }
  .reasons__description--advantages {
    text-align: center;
    padding: 0;
    margin: 0;
  }
}
@media (min-width: 1200px) {
  .reasons__header {
    padding: 59px 359px 44px 357px;
  }
  .reasons__slogan {
    margin-bottom: 29px;
  }
  .reasons__city {
    width: 23.75%;
    padding: 47px 52px 56px 53px;
  }
  .reasons__item--bridge {
    width: 100%;
  }
  .reasons__background {
    width: 20%;
    padding: 51px 78px 53px 79px;
  }
  .reasons__item--square {
    width: 35%;
    padding: 42px 43px 62px 42px;
  }
  .reasons__item--road {
    width: 33%;
    padding: 42px 54px 64px;
  }
  .reasons__item--tourist {
    width: 32%;
    padding: 43px 55px 62px;
  }
  .reasons__item--housing::before {
    top: 51px;
    left: 163px;
  }
  .reasons__item--food::before {
    left: 165px;
    top: 53px;
  }
  .reasons__item--gift::before {
    left: 166px;
    top: 51px;
  }
  .reasons__title--advantages {
    font-size: 21px;
    line-height: 26px;
    margin-bottom: 24px;
  }
  .reasons__pictures {
    width: 100%;
  }
}
.search {
  font-family: "PT Sans", sans-serif;
  text-align: center;
  background-color: #ffffff;
}
.search__wrapper {
  padding: 38px 29px 32px 30px;
}
.search__title {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  margin: 0;
}
.search__hotels-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;
  margin: 0;
  margin-top: 21px;
}
.search__link {
  font-weight: 700;
  color: #ffffff;
  font-size: 21px;
  line-height: 26px;
  text-decoration: none;
  background-color: #81b3d2;
  padding: 16px 49px;
  display: block;
  margin: 0 18px 49px;
}
@media (min-width: 768px) {
  .search__wrapper {
    padding: 61px 166px 41px 167px;
  }
  .search__title {
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 26px;
  }
  .search__link {
    padding: 14px 121px 17px;
    margin: 0 155px 58px;
  }
}
@media (min-width: 1200px) {
  .search__wrapper {
    padding: 61px 382px 46px 383px;
  }
  .search__link {
    margin: 0 371px 66px;
  }
}
.map {
  background-color: #1f9469;
}
.map iframe {
  width: 100%;
  display: block;
  border: none;
}
@media (min-width: 768px) {
  .map {
    background-color: #1f9469;
    margin: 0;
  }
}
.main-footer__wrapper {
  background-color: #ffffff;
  text-align: center;
}
.main-footer__hashtag-link {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  text-decoration: none;
  padding: 28px 78px 0 76px;
  margin-bottom: 33px;
  display: block;
}
.main-footer__social {
  padding: 0 80px 0 84px;
  margin-bottom: 40px;
}
.main-footer__copyright {
  padding: 0 96px 23px 55px;
}
@media (min-width: 768px) {
  .main-footer__wrapper {
    display: flex;
    justify-content: space-between;
  }
  .main-footer__hashtag-link {
    margin: 0;
    padding: 48px 97px 45px 45px;
  }
  .main-footer__social {
    padding: 36px 0;
    margin: 0;
  }
  .main-footer__copyright {
    padding: 43px 60px 43px 100px;
  }
}
@media (min-width: 1200px) {
  .main-footer__hashtag-link {
    padding: 48px 254px 45px 104px;
  }
  .main-footer__copyright {
    padding: 43px 120px 43px 256px;
  }
}
.social__list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.social__item {
  background-color: #81b3d2;
  padding: 12px 13px;
}
.social__item--telegram {
  margin-left: 6px;
  margin-right: 6px;
}
.copyright__link {
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-decoration: none;
  color: #000000;
}
.copyright__icon {
  position: absolute;
  top: -10px;
  right: -40px;
}
.page-main__promo {
  background-color: #3f5e72;
}
@media (max-width: 767px) {
  .page-main__promo {
    position: relative;
    background-image: url("../img/img-phone/background-catalog.jpg");
    width: 100%;
    min-height: 214px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .page-main__promo-logo {
    padding-top: 52px;
  }
  .page-main__promo::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 57px;
    background-image: url("../img/vector.svg");
    bottom: 0;
    left: 0;
  }
  .page-main__header {
    position: relative;
  }
  .page-main__wrapper-catalog {
    padding: 33px 20px 33px;
  }
  .page-main__wrapper-catalog::after {
    position: absolute;
    content: "";
    width: 100%;
    border: 1px solid #e5e5e5;
    background-color: #e5e5e5;
    bottom: -4px;
    left: 0;
  }
  .page-main__video-gallery {
    position: relative;
  }
  .page-main__video-gallery::before {
    position: absolute;
    content: "";
    width: 100%;
    border: 1px solid #e5e5e5;
    background-color: #e5e5e5;
    top: 0;
    left: 0;
  }
}
@media (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 767px) and (min-resolution: 2dppx) {
  .page-main__promo {
    background-color: url("../img/img-phone/background-catalog@2x.jpg");
    background-repeat: no-repeat;
  }
}
.page-main__header {
  font-family: "PT Sans", sans-serif;
  background-color: #ffffff;
}
.page-main__wrapper-form {
  padding: 36px 20px 28px;
}
.page-main__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  margin: 0;
  margin-bottom: 46px;
}
.page-main__title-form {
  margin-bottom: 24px;
  text-transform: uppercase;
}
.page-main__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;
  margin: 0;
}
.page-main__photo {
  font-family: "PT Sans", sans-serif;
  background-color: #ffffff;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
@media (min-width: 768px) {
  .page-main__container {
    width: 84%;
    margin: 0 auto;
  }
  .page-main__promo {
    position: relative;
    background-image: url("../img/img-tablet/background-catalog-tablet.jpg");
    width: 100%;
    min-height: 346px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
  }
  .page-main__promo::after {
    position: absolute;
    content: "";
    background-image: url("../img/vector-tablet.svg");
    width: 100%;
    height: 57px;
    left: 0;
    bottom: 0;
  }
  .page-main__promo-logo {
    width: 59%;
    padding-top: 101px;
    min-height: 77px;
  }
  .page-main__container-form {
    width: 84%;
    margin: 0 auto;
  }
  .page-main__wrapper-catalog {
    width: 71%;
    margin: 0 auto;
    padding: 66px 0 67px 0;
  }
  .page-main__wrapper-form {
    padding: 64px 106px 104px 107px;
  }
  .page-main__title {
    font-size: 30px;
    line-height: 26px;
    margin-bottom: 33px;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
  .page-main__promo {
    background-image: url("../img/img-tablet/background-catalog-tablet@2x.jpg");
    background-repeat: no-repeat;
  }
}
@media (min-width: 1200px) {
  .page-main__container {
    width: 100%;
    margin: 0;
  }
  .page-main__promo {
    position: relative;
    background-image: url("../img/img-desktop/background-catalog-desktop.jpg");
    min-height: 300px;
    background-size: cover;
    background-position: bottom;
  }
  .page-main__promo::after {
    position: absolute;
    content: "";
    background-image: url("../img/vecrot-desktop.svg");
  }
  .page-main__promo-logo {
    width: 38%;
    padding-top: 101px;
    min-height: 80px;
  }
  .page-main__container-form {
    width: 80%;
    margin: 0 auto;
  }
  .page-main__wrapper-catalog {
    width: 38%;
    margin: 0 auto;
    padding: 100px 0 65px 0;
  }
  .page-main__wrapper-form {
    padding: 115px 262px 67px 264px;
  }
  .page-main__title {
    margin-bottom: 32px;
  }
}
@media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1200px) and (min-resolution: 2dppx) {
  .page-main__promo {
    background-image: url("../img/img-desktop/background-catalog-desktop@2x.jpg");
    background-repeat: no-repeat;
  }
}
.photo__wrapper {
  background-color: #964912;
}
.photo__information {
  text-align: left;
}
.photo__image {
  display: block;
}
.photo__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  margin: 0;
  margin-top: 15px;
  margin-bottom: 10px;
  text-align: left;
}
.photo__author {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  margin: 0;
  margin-bottom: 11px;
  text-align: left;
}
.photo__likes {
  text-align: left;
}
.photo__like {
  margin-right: 14px;
  border: none;
  background-color: #ffffff;
  padding: 0;
}
.photo__count {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}
@media (max-width: 767px) {
  .photo {
    position: relative;
  }
  .photo__item {
    padding: 24px 20px 25px;
  }
  .photo__item::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #e5e5e5;
    top: 435px;
    left: 0;
  }
  .photo__item::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #e5e5e5;
    top: 870px;
    left: 0;
  }
  .photo__likes::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #e5e5e5;
    bottom: 435px;
    left: 0;
  }
}
@media (min-width: 768px) {
  .photo {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .photo__item:first-child {
    grid-column: 1/3;
  }
  .photo__item:first-child .photo__image {
    width: 100%;
    height: 400px;
  }
  .photo__image {
    width: 100%;
    height: 267px;
  }
  .photo__item {
    padding: 0;
  }
  .photo__container {
    display: flex;
    justify-content: space-between;
    background-color: #f2f2f2;
  }
  .photo__container--background {
    background-color: #eaeaea;
  }
  .photo__information {
    padding: 22px 0 15px 20px;
  }
  .photo__title {
    margin: 0;
  }
  .photo__author {
    margin: 0;
  }
  .photo__likes {
    padding: 28px 20px 0 0;
  }
  .photo__like {
    background-color: #f2f2f2;
    margin-right: 5px;
  }
  .photo__like--background {
    background-color: #eaeaea;
  }
}
@media (min-width: 1200px) {
  .photo {
    display: grid;
    grid-template-columns: 33.4% 33.3% 33.3%;
  }
  .photo__item:first-child {
    grid-column: 1/4;
  }
  .photo__item:first-child .photo__image {
    width: 100%;
    height: 400px;
  }
  .photo__image {
    width: 100%;
    height: 267px;
  }
  .photo__item {
    position: relative;
  }
  .photo__item:first-child .photo__container {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
  }
  .photo__container {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
  }
  .photo__title {
    color: #ffffff;
  }
  .photo__author {
    color: #ffffff;
  }
  .photo__like {
    background: transparent;
  }
  .photo__like-icon path {
    opacity: 1;
    fill: #ffffff;
  }
  .photo__count {
    color: #ffffff;
  }
}
.video__wrapper {
  /* width: 83%; */
  padding: 17px 26px 38px 28px;
}
.video__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  margin: 0;
}
.video__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  margin: 0;
  text-transform: uppercase;
  margin-top: 27px;
}
.video__container {
  position: relative;
  line-height: 0;
}
.video__play {
  border: none;
  position: absolute;
  top: 63%;
  left: 45%;
  padding: 0;
  background-color: rgba(225, 225, 225, 0.1);
}
@media (min-width: 768px) {
  .video__wrapper {
    width: 69%;
    margin: 0 auto;
    padding: 62px 97px 70px 95px;
  }
  .video__title {
    font-size: 30px;
    line-height: 26px;
  }
  .video__image {
    width: 84%;
    height: 500px;
    margin-bottom: 41px;
  }
  .video__description {
    margin-top: 39px;
  }
  .video__play {
    top: 300%;
    left: 48%;
  }
}
@media (min-width: 1200px) {
  .video__wrapper {
    width: 37%;
  }
  .video__image {
    width: 66%;
    min-height: 500px;
    margin-bottom: 85px;
  }
  .video__play {
    top: 1750px;
    left: 600px;
  }
}
.feedback {
  font-family: "PT Sans", sans-serif;
}
@media (min-width: 768px) {
  .feedback__container {
    display: flex;
  }
}
.form__fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
.form__legend-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}
.form__legend-title--fullname {
  padding: 24px 75px 0 75px;
}
.form__group {
  list-style-type: none;
}
.form__fullname-wrapper {
  margin: 0;
  padding: 20px 20px 23px;
}
.form__input {
  position: relative;
}
.form__input--fullname {
  margin-bottom: 16px;
}
.form__input--contacts {
  position: relative;
  margin-bottom: 16px;
}
.form__label {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-align: left;
  padding-left: 16px;
  text-transform: uppercase;
}
.form__input-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  width: 264px;
  padding: 16px 0 16px 16px;
  border: none;
  background-color: #f2f2f2;
  font-family: "PT Sans", sans-serif;
}
.form__input-text::placeholder {
  color: #000000;
}
.form__input-text:hover {
  background-color: #e5e5e5;
}
.form__input-text:focus {
  background-color: #ffffff;
  outline: 4px solid #e5e5e5;
}
.form__legend-title--contacts {
  padding: 24px 41px 0;
}
.form__contacts-wrapper {
  padding: 20px 20px 18px;
  margin: 0;
}
.form__contacts-wrapper .form__input-text::placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.form__icon {
  width: 58px;
  height: 38px;
  position: absolute;
  right: 0;
  top: 21px;
  background-color: #e6e6e6;
  padding-top: 20px;
}
.form__control {
  display: block;
  padding: 10px 0 10px 62px;
  text-align: left;
  margin-bottom: 16px;
}
.form__legend-title--impression {
  padding: 26px 43px 0 44px;
}
.form__impression-wrapper {
  margin: 0;
  padding: 20px 20px 8px;
}
.form__control-mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 46px;
  height: 46px;
  border-radius: 4px;
  background-color: #f2f2f2;
}
.form__control-input--impression + .form__control-mark {
  border-radius: 50%;
}
.form__control-input--impression:checked + .form__control-mark::before {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 16px;
  height: 16px;
  background-color: #333333;
  border-radius: 50%;
  content: "";
}
.form__control:hover .form__control-mark {
  background-color: #e5e5e5;
}
.form__control:active .form__control-mark {
  background-color: #d5d5d5;
}
.form__control:active .form__control-mark::before {
  background: rgba(51, 51, 51, 0.3);
}
.form__control-check-mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 46px;
  height: 46px;
  border-radius: 4px;
  background-color: #f2f2f2;
}
.form__control-input--sights:checked + .form__control-check-mark::before {
  position: absolute;
  content: "";
  width: 22px;
  height: 16px;
  top: 14px;
  left: 13px;
  background-image: url("../img/tick.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.form__control:hover .form__control-check-mark {
  background-color: #e5e5e5;
}
.form__control:active .form__control-check-mark {
  background-color: #d5d5d5;
}
.form__control:active .form__control-check-mark::before {
  opacity: 0.3;
}
.form__control-label {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}
.form__legend-title--sights {
  padding: 27px 42px 0;
}
.form__sights-wrapper {
  padding: 20px 20px 8px;
  margin: 0;
}
.form__fieldset--emotions {
  font-family: "PT Sans", sans-serif;
}
.form__legend-title--emotions {
  padding: 24px 37px 20px 38px;
}
.form__textarea {
  font-family: "PT Sans", sans-serif;
  width: 247px;
  min-height: 118px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding: 16px;
  border: none;
  margin: 0 21px 56px 20px;
  background-color: #f2f2f2;
}
.form__textarea::placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.form__button {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  background-color: #81b3d2;
  color: #ffffff;
  padding: 14px 34px 17px 32px;
  text-transform: uppercase;
  border: none;
  width: 88%;
}
.form__notification {
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  text-align: right;
  margin: 0;
  margin-top: 3px;
  padding-right: 20px;
  color: rgba(51, 51, 51, 0.6);
}
@media (max-width: 767px) {
  .form__fieldset {
    position: relative;
  }
  .form__legend-title--fullname::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #e5e5e5;
    top: 0;
    left: 0;
  }
  .form__legend-title--contacts::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #e5e5e5;
    top: 0;
    left: 0;
  }
  .form__legend-title--impression::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #e5e5e5;
    top: 0;
    left: 0;
  }
  .form__legend-title--sights::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #e5e5e5;
    top: 0;
    left: 0;
  }
  .form__legend-title--emotions::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #e5e5e5;
    top: 0;
    left: 0;
  }
  .form__submit-wrapper {
    margin-bottom: 25px;
  }
}
@media (min-width: 768px) {
  .form__group {
    padding: 0;
  }
  .form__legend-title--fullname {
    padding: 0;
    margin-bottom: 28px;
  }
  .form__legend-title {
    font-size: 21px;
    line-height: 26px;
  }
  .form__legend-title--contacts {
    padding: 0;
    padding-left: 5px;
    margin-bottom: 28px;
  }
  .form__fieldset {
    position: relative;
  }
  .form__legend-title--contacts::before {
    position: absolute;
    content: "";
    width: 1px;
    height: 338px;
    background-color: #d8d8d8;
    top: 0;
    left: 0;
  }
  .form__fullname-wrapper {
    margin-right: 43px;
  }
  .form__contacts-wrapper {
    margin-left: 44px;
  }
  .form__input--fullname {
    margin-bottom: 16px;
  }
  .form__input--contacts {
    margin-bottom: 16px;
  }
  .form__legend-title--impression {
    padding: 47px 123px 0;
    margin-bottom: 30px;
  }
  .form__legend-title--impression::before {
    position: absolute;
    content: "";
    width: 16%;
    height: 1px;
    background-color: #d8d8d8;
    left: 0;
    top: 60px;
  }
  .form__legend-title--impression::after {
    position: absolute;
    content: "";
    width: 16%;
    height: 1px;
    background-color: #d8d8d8;
    right: 0;
    top: 60px;
  }
  .form__impression-wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-between;
    padding-left: 37px;
    padding-right: 35px;
  }
  .form__control {
    padding: 10px 0 10px 62px;
    margin-bottom: 16px;
  }
  .form__legend-title--sights {
    padding: 30px 170px 0 167px;
    margin-bottom: 30px;
  }
  .form__legend-title--sights::before {
    position: absolute;
    content: "";
    width: 16%;
    height: 1px;
    background-color: #d8d8d8;
    left: 0;
    top: 57px;
  }
  .form__legend-title--sights::after {
    position: absolute;
    content: "";
    width: 16%;
    height: 1px;
    background-color: #d8d8d8;
    right: 0;
    top: 57px;
  }
  .form__sights-wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-between;
    padding-left: 85px;
    padding-right: 85px;
  }
  .form__legend-title--emotions {
    width: 52%;
    font-size: 21px;
    line-height: 26px;
    padding: 28px 123px 0;
    margin-bottom: 28px;
  }
  .form__legend-title--emotions::before {
    position: absolute;
    content: "";
    width: 16%;
    height: 1px;
    background-color: #d8d8d8;
    left: 0;
    top: 39px;
  }
  .form__legend-title--emotions::after {
    position: absolute;
    content: "";
    width: 16%;
    height: 1px;
    background-color: #d8d8d8;
    right: 0;
    top: 39px;
  }
  .form__textarea {
    width: 95%;
    margin: 0 auto;
    min-height: 128px;
  }
  .form__submit-wrapper {
    padding: 48px 0 64px;
    display: flex;
    justify-content: space-between;
  }
  .form__button {
    width: 324px;
    padding: 18px 60px 13px 49px;
    border: none;
  }
  .form__notification {
    font-size: 14px;
    line-height: 21px;
    padding: 0;
    padding-top: 20px;
  }
}
@media (min-width: 1200px) {
  .form__fullname-wrapper {
    margin-right: 63px;
  }
  .form__contacts-wrapper {
    margin-left: 64px;
  }
  .form__input-text {
    width: 414px;
  }
  .form__legend-title--contacts {
    padding: 0;
  }
  .form__input-text--contacts {
    width: 386px;
  }
  .form__legend-title--impression {
    padding: 53px 123px 0;
    margin-bottom: 30px;
  }
  .form__legend-title--impression::before {
    position: absolute;
    content: "";
    width: 23%;
    height: 1px;
    background-color: #d8d8d8;
    left: 0;
    top: 67px;
  }
  .form__legend-title--impression::after {
    position: absolute;
    content: "";
    width: 23%;
    height: 1px;
    background-color: #d8d8d8;
    right: 0;
    top: 67px;
  }
  .form__impression-wrapper {
    padding: 17px 10px 4px 53px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-content: space-between;
  }
  .form__legend-title--sights {
    padding: 55px 327px 0 327px;
    margin-bottom: 60px;
  }
  .form__legend-title--sights::before {
    position: absolute;
    content: "";
    width: 23%;
    height: 1px;
    background-color: #d8d8d8;
    left: 0;
    top: 78px;
  }
  .form__legend-title--sights::after {
    position: absolute;
    content: "";
    width: 23%;
    height: 1px;
    background-color: #d8d8d8;
    right: 0;
    top: 78px;
  }
  .form__sights-wrapper {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-left: 13px;
    padding-right: 13px;
  }
  .form__input--sights {
    margin: 0 32px;
  }
  .form__control {
    padding: 10px 0 10px 62px;
  }
  .form__legend-title--emotions {
    padding: 68px 280px 0;
    width: 33%;
  }
  .form__legend-title--emotions::before {
    position: absolute;
    content: "";
    width: 23%;
    height: 1px;
    background-color: #d8d8d8;
    left: 0;
    top: 82px;
  }
  .form__legend-title--emotions::after {
    position: absolute;
    content: "";
    width: 23%;
    height: 1px;
    background-color: #d8d8d8;
    right: 0;
    top: 82px;
  }
  .form__textarea {
    width: 76.7%;
    margin: 0 auto;
  }
  .form__submit-wrapper {
    padding: 43px 96px 64px 96px;
    margin: 0;
  }
  .form__button {
    width: 384px;
    padding: 18px 71px 13px 58px;
  }
  .form__notification {
    padding: 0;
    padding-top: 23px;
  }
}
.modal-form {
  font-family: "PT Sans", sans-serif;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.modal-form--block {
  display: none;
}
.modal-form__container-luck {
  width: 320px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
}
.modal-form__wrapper-luck {
  padding: 39px 39px 30px 37px;
}
.modal-form__title-luck {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 46px;
}
.modal-form__description-luck {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0;
}
.modal-form__button-luck {
  font-family: "PT Sans", sans-serif;
  width: 280px;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  padding: 18px 62px 14px 60px;
  background-color: #81b3d2;
  text-transform: uppercase;
  margin: 0;
  border: none;
}
.modal-form__wrapper-background {
  background-color: #f2f2f2;
  padding: 20px;
}
.modal-form--none {
  display: none;
}
.modal-form__container-failure {
  width: 320px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
}
.modal-form__wrapper-failure {
  padding: 45px 42px 28px 41px;
}
.modal-form__title-failure {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 25px;
}
.modal-form__description-failure {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0;
}
.modal-form__button {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  padding: 18px 64px 14px 63px;
  background-color: #81b3d2;
  text-transform: uppercase;
  margin-bottom: 35px;
  border: none;
}
@media (min-width: 768px) {
  .modal-form__container-luck {
    width: 640px;
    margin: auto;
  }
  .modal-form__wrapper-luck {
    padding: 53px 99px 30px 97px;
  }
  .modal-form__title-luck {
    font-size: 30px;
    line-height: 26px;
    margin-bottom: 50px;
  }
  .modal-form__wrapper-background {
    padding: 44px 91px;
  }
  .modal-form__button-luck {
    font-weight: 700;
    font-family: "PT Sans", sans-serif;
    width: 458px;
    padding: 18px 140px 13px 139px;
    font-size: 21px;
    line-height: 26px;
  }
  .modal-form__container-failure {
    width: 400px;
  }
  .modal-form__wrapper-failure {
    padding: 50px 47px 25px 46px;
  }
  .modal-form__button {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    padding: 18px 108px 13px 107px;
    border: none;
  }
}
.main-nav {
  position: relative;
  min-height: 56px;
}
.main-nav__menu-wrapper {
  min-height: 56px;
  background-color: #ffffff;
}
@media (max-width: 767px) {
  .main-nav--closed .main-nav__toggle::before {
    content: "";
    position: absolute;
    top: 17px;
    right: 20px;
    width: 23px;
    height: 4px;
    background-color: #81b2d3;
    box-shadow: 0 8px 0 0 #81b2d3, 0 16px 0 0 #81b2d3;
  }
  .main-nav--closed .main-nav__toggle:hover::before {
    opacity: 0.6;
  }
  .main-nav--closed .main-nav__toggle:active::before {
    opacity: 0.3;
  }
  .main-nav--closed .site-list__item {
    display: none;
  }
  .main-nav--opened .main-nav__wrapper {
    position: absolute;
    top: 0;
    z-index: 10;
    width: 100%;
    min-height: 55px;
    background-color: #81b2d3;
  }
  .main-nav--opened .main-nav__wrapper::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 7px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  }
  .main-nav--opened .main-nav__toggle::before,
  .main-nav--opened .main-nav__toggle::after {
    content: "";
    position: absolute;
    top: 25px;
    right: 20px;
    width: 28px;
    height: 3px;
    background-color: #ffffff;
    z-index: 11;
  }
  .main-nav--opened .main-nav__toggle::before {
    transform: rotate(45deg);
    box-shadow: none;
  }
  .main-nav--opened .main-nav__toggle::after {
    transform: rotate(-45deg);
  }
  .main-nav--opened .main-nav__toggle:active::before,
  .main-nav--opened .main-nav__toggle:active::after {
    background-color: rgba(255, 255, 255, 0.3);
  }
  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
  .main-nav__logo {
    height: 96px;
    position: absolute;
    left: 70px;
    z-index: 2;
    padding-bottom: 40px;
  }
}
@media (min-width: 768px) {
  .main-nav__logo {
    position: absolute;
    top: 0;
    left: 290px;
    z-index: 2;
  }
  .main-nav__wrapper {
    background: none;
  }
  .main-nav__menu-wrapper {
    display: none;
  }
}
@media (min-width: 1200px) {
  .main-nav__logo {
    position: absolute;
    top: 0;
    left: 504px;
  }
}
/*# sourceMappingURL=style.css.map */
